<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beginning page</title>
</head>
<body>
{% if people %}
<ul>
    {% for el in people %}
    <li>{{ el.iname }} {{ el.fname }}: {{ el.birthday }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No people.</p>
{% endif %}
    <p><a href="{% url 'predata:general' %}">General</a></p>
    <p><a href="{% url 'predata:loaddata' %}">Load new data</a></p>
    <p><a href="{% url 'predata:faq' %}">FAQ</a></p>
    <p><a href="{% url 'predata:result' %}">Result</a></p>
</body>
</html>